*{
    margin: 0;
    padding: 0;
}

.calculadora{
    background-color: rgba(105, 105, 105, 0.881);
    width: 50vw;
    margin: 120px auto 200px auto;
    border: 1px solid black;
}


.container_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#res{
    margin-top: 16px;
    color: white;
}

.container_texto{
    display: flex;
    justify-content: center;
    gap: 50px;
}

span{
    color: white;
}

.txt{
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}

.container_botao{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}


.botao{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}


