*{
    margin: 0;
    padding: 0;
}

.container_numero{
    display: flex;
    gap: 5px;
}

.txt{
    border: 1px solid black;
    border-radius: 2px;
}

.botao{
    width: 20px;
    background-color: black;
    color: white;
}

.container_texto{
    display: flex;
    gap: 110px;
}

.container_botao{
    width: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 15px;
}

