*{
    margin: 0;
    padding: 0;
}

.calculadora{
    background-color: #202124;
    width: 50vw;
    margin: 120px auto 200px auto;
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
}

.container_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

#res{
    margin-top: 16px;
    color: white;
}

.txt{
    width: 80%;
    height: 4vh;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}

.botoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.botoes__numeros{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.botoes__numeros__individual{
    background-color: #424548;
    color: white;
    width: 28%;
}

.botoes__operadores{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2px;
}

.botoes__operadores__individual{
    color: white;
    background-color: #424548;
    width:48%;
    height: 40px;
    margin-bottom: 5px;
}

#igualdade, #limpar{
    height: 80px;
}



